﻿@model CasaDaVideira.Model.Database.Model.Telefone

@{
    ViewBag.Title = "Enderecos";
}

<h2>Enderecos</h2>


<p>
    @Html.ActionLink("Inserir endereco", "CriarEndereco", new { id = 0, idUsuario = Model.IdUsuario })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Rua")
        </th>
        <th>
            @Html.DisplayName("Numero")
        </th>
        <th>
            @Html.DisplayName("Complemento")
        </th>
        <th>
            @Html.DisplayName("Bairro")
        </th>
        <th>
            @Html.DisplayName("Cidade")
        </th>
        <th>
            @Html.DisplayName("CEP")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Endereco)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Complemento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cep)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditarTelefone", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeletarTelefone", new { id = item.Id })
            </td>
        </tr>
    }

</table>
